@{
    ViewBag.Title = "Home Page";
}

@section scripts {
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/unobtrusive-ajax");
    <script>
        function Test(data) {
            alert(JSON.stringify(data));
        }
    </script>
}

@using (Ajax.BeginForm("EmpQueryData", new AjaxOptions { OnSuccess = "Test" }))
{
    <div class="container conditionBlock">
        <div class="page-header">
            <h3>員工資料維護</h3>
        </div>
        <div class="row">
            <div class="col-md-2 condition">員工編號：</div>
            <div class="col-md-4">@Html.TextBox("EmpId", null, new { maxlength = 50 })</div>
            <div class="col-md-2 condition">員工姓名：</div>
            <div class="col-md-4">@Html.TextBox("EmpNm", null, new { maxlength = 50 })</div>
        </div>
        <div class="row">
            <div class="col-md-2 condition">員工電話：</div>
            <div class="col-md-4">@Html.TextBox("EmpPhone", null, new { maxlength = 50 })</div>
            <div class="col-md-2 condition"></div>
            <div class="col-md-4"></div>
        </div>
        <div class="row">
            <div class="=col-md-12 buttonBlock">
                <input type="submit" class="btn btn-primary" value="查詢" />
                <button type="button" class="btn btn-primary">清除</button>
            </div>
        </div>
    </div>
}
