@{
    ViewBag.Title = "Home Page";
}

@using (Ajax.BeginForm("EmpQueryData", new AjaxOptions { OnSuccess = "OnSuccess" }))
{
    <div class="container conditionBlock">
        <div class="page-header">
            <h3>員工資料維護</h3>
        </div>
        <div class="row">
            <div class="col-md-2 condition">員工編號：</div>
            <div class="col-md-4">@Html.TextBox("EmpId", null, new { maxlength = 50 })</div>
            <div class="col-md-2 condition">員工姓名：</div>
            <div class="col-md-4">@Html.TextBox("EmpNm", null, new { maxlength = 50 })</div>
        </div>
        <div class="row">
            <div class="col-md-2 condition">員工電話：</div>
            <div class="col-md-4">@Html.TextBox("EmpPhone", null, new { maxlength = 50 })</div>
            <div class="col-md-2 condition"></div>
            <div class="col-md-4"></div>
        </div>
        <div class="row">
            <div class="=col-md-12 buttonBlock">
                <input id="btnQuery" type="submit" class="btn btn-primary" value="查詢" onclick="Validating();" />
                <button id="btnAdd" type="button" class="btn btn-primary" onclick="btnAdd_Click();">新增</button>
                <button type="button" class="btn btn-primary">清除</button>
            </div>
        </div>
    </div>
    <br/>
    <table id="grid"></table>
    <div id="pager"></div>
}

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/unobtrusive-ajax")
    @Scripts.Render("~/bundles/jqueryjqgrid")
    @Scripts.Render("~/bundles/common")
    <script>
        //檢核
        function Validating() {
            //數字檢核
            var regex = /^\d*$/;
            if (!regex.test($("#EmpId").val())){
                alert("員工編號請輸入數字");
                if (event) event.returnValue = false;
                return false;
            }

            if (!regex.test($("#EmpPhone").val())) {
                alert("員工電話請輸入數字");
                if (event) event.returnValue = false;
                return false;
            }
            return true;
        }

        //查詢按鈕,CallBack
        function OnSuccess(empArray) {
            if (empArray.length == 0) { alert('查無資料'); return; }

            InitJqGrid(empArray);
        }

        function InitJqGrid(empArray) {
            var grid = $("#grid");
            grid.jqGrid('clearGridData');

            grid.jqGrid({
                scroll: false,    //不分頁
                scrollbar:true,
                data: empArray,
                datatype: 'local',
                jsonReader: {
                    repeatitems: false  //設定false則可以依照name當索引去繫結model的資料,設true則是必須按照順序繫結(兩種方法的model結構不同)
                },
                height: 250,
                width: 1015,
                shrinkToFit: false, //寬度是否要成比例縮放
                colNames: [
                        '員工編號',
                        '員工姓氏',
                        '員工姓名',
                        '員工電話',
                        '員工生日',
                        '員工地址',
                        ''
                ],
                colModel: [
                     { name: 'EmployeeID', index: 'EmployeeID', width: 90, sortable: false, align: 'center', hidden:true },
                     { name: 'LastName', index: 'LastName', width: 100, sortable: false, align: 'center' },
                     { name: 'FirstName', index: 'FirstName', width: 100, sortable: false, align: 'center' },
                     { name: 'HomePhone', index: 'HomePhone', width: 100, sortable: false, align: 'center' },
                     { name: 'BirthDate', index: 'BirthDate', width: 100, sortable: false, align: 'center', formatter: "date", formatoptions: {srcformat:'Y/m/d',newformat:'Y/m/d'}},
                     { name: 'Address', index: 'EmpPhone', width: 300, sortable: false, align: 'center' },
                     { name: 'btn', index: 'btn', width: 300, sortable: false, align: 'center', formatter: InitGridBtn }
                ],
                rowNum: 8,          //限制頁面顯示幾筆
                hoverrows: false,   //滑鼠移到row上顯示特效
                pagination: true,
                rowList: [5, 10, 20, 50],
                pager: $('#pager'),
                gridComplete: function () {
                }
            });
            grid.setGridParam({ data: empArray, page: 1 })
            grid.trigger('reloadGrid');
        }

        //新增按鈕
        function btnAdd_Click() {
            //讀取partialView
            var OnSuccess = function(){
                showDialog("新增員工", 500, 500);
            }
            
            var Data = {
                "View": "EmployeePartial"
            };

            loadDialogPartial("Home/ShowEmpPartial", Data, OnSuccess);
        }

        function btnEdit_Click(id) {
            //取得該筆Row資料           
            var selRowData = $('#grid').getRowData(id);
            delete selRowData.btn;//html formatter不須轉json..
            
            var Data = {
                "View": "EmployeePartial",
                "RowData": JSON.stringify(selRowData)
            };

            //讀取partialView
            var OnSuccess = function () {
                showDialog("編輯員工資訊", 500, 500);
            }

            loadDialogPartial("Home/ShowEmpPartial", Data, OnSuccess);
        }

        function InitGridBtn(cellvalue, options, rowObject)
        {
            return '<button id="btnEdit" type="button" class="btn" onClick="btnEdit_Click(\'' + options.rowId + '\');">修改</button><button type="button" class="btn">刪除</button>';
        }
    </script>
}
